# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyc
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Spark
spark-warehouse/
metastore_db/
derby.log
*.crc
_SUCCESS

# IDE
.vscode/
.idea/

# Environment/config
.env